.text-color-certiyac {
  color: #4fbacf;
}

.text-color-certiyacD {
  color: #000000;
}

.text-color-certiyacT {
  color: #6DF700;
}

.text-color-certiyacC {
  color: #006991;
}

.col-5ths {
  width: 20%;
}

.hover-div {
  cursor: pointer; 
}

/* Contenedor */
.table-container {
  /*padding: 1rem;*/
  margin: 1rem auto;
  overflow-x: auto;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Tabla */
.material-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
}

.material-table thead {
  background-color: #006991; /* Color principal de Material Design */
  color: white;
  text-align: center;
}

.material-table th,
.material-table td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}



/* Agregar bordes solo a columnas específicas (opcional si lo deseas) */
.material-table tbody tr td:not(:last-child) {
  border-right: 1px solid #e0e0e0; /* Bordes verticales si es necesario */
}

/* Estilo de botones */
.action-btn {
  background-color: #006991;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-btn:hover {
  background-color: #018786;
}

.bg-image {
	background-image: url('fondo_login.jpg'); /* Cambia esto por la URL de tu imagen */
	background-size: cover; /* La imagen cubrirá todo el contenedor */
	background-position: center; /* Centra la imagen */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	color: white; /* Cambia el texto a blanco para mayor legibilidad (opcional) */
	padding: 2rem; /* Ajusta el relleno para que el contenido tenga espacio */
	border-radius: 1px; /* Si quieres bordes redondeados (opcional) */
}
